@using (Html.BeginForm("SearchResult", "SearchResult", FormMethod.Post, new { @role = "search", @class = "navbar-form navbar-left" }))
{
    <div class="form-group">
        <input id="txtSearchAll" type="text" name="SearchKeyword" class="form-control" placeholder="Search" value=""/>
        <input id="txtPageNumber" type="hidden" name="PageNumber" value="1" />
        <input id="txtPageCount" type="hidden" name="PageCount" value="0" />
    </div>
    <button type="submit" class="btn btn-default">Search</button>
}