@using (Html.BeginForm("SearchResult", "SearchResult", FormMethod.Post, new { @id = "search-form-bar", @role = "form", @class = "navbar-form navbar-left" }))
{
    <div class="form-group form-search">
        <input id="txtSearchAll" placeholder="People" value="" type="text" name="SearchKeyword" class="form-control col-lg-9 col-md-9 search-box" />
        <i class="glyphicon glyphicon-search"></i>
        <input id="txtPageNumber" type="hidden" name="PageNumber" value="1" />
        <input id="txtPageCount" type="hidden" name="PageCount" value="0" />
    </div>
}

<script>
    $(window).load(function () {
        $('#txtSearchAll').on('keydown', function (e) {
            if (e.which == 13) {
                $('#search-form-bar').submit();
            }
        });
    });
</script>
<style>
    .form-search {
        position: relative;
    }

        .form-search .search-box { padding-left: 30px;
        }

        .form-search i {
            position: absolute;
            top: 0;
            left: 0;
            padding: 9px 12px;
            line-height: 1.42857143;
            font-size: 15px;
            color: #a7a7a7;
        }
</style>