@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterSuccess</title>
    @Scripts.Render("~/bundles/jquery")
</head>
<body id="login-body">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnClose').click(function () {
                Android.close('@ViewBag.Username');
            });
        });
    </script>
    <div>
        <div>
            <h2>Hi! @ViewBag.Username</h2>
            <h2>An activation request has been send to your email account</h2>
            <h2>Please check your email to Activate your account</h2>
        </div>
        <input type="button" id="btnClose" value="Back to Login" />
    </div>
</body>
</html>
