div {
    border: solid 0px;
}

hr {
    background-color: #d4d4d4;
    color: #d4d4d4;
    height: 1px;
    border: 0px;
    clear: both;
}

#container {
    width: 100%;
}

.top-menu {
    background-color: #266d97;
}

/*.navbar-default .navbar-brand {
    color: whitesmoke;
    font-size: large;
}

.navbar-header .navbar-brand a:hover {
    color: whitesmoke;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: white;
    }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #266d97;
}*/

.navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 15px;
}

.content-display {
}

#main {
    margin-top: 80px;
}

.body-content-left {
    float: left;
    display: inline;
    margin-top: -30px;
    background-color: #fafafa;
}

.body-content-right {
    float: left;
    width: 100%;
    display: block;
    margin-top: -35px;
}

.inside-left-menu {
    float: left;
    display: inline;
    position: fixed;
    border-right: solid #cccccc 1.5px;
    background-color: #fafafa;
    font-size: 18px;
    font-style: normal;
    height: 1000px;
    width: 170px;
    margin-left: -10px;
    padding: 5px;
}

#left-menu ul {
    margin-top: 30px;
}


#footeredit {
    align: center;
}

#right-content {
    margin-left: 10px;
}

.top-menu {
    height: 45px;
}

.wrap-menu {
    height: 40px;
    margin-top: 5px;
}

.user-request {
    float: left;
    border: solid 1px #cccccc;
    height: 80px;
    width: 250px;
    margin: 5px;
}

    .user-request img {
        display: inline;
        width: 70px;
        height: 70px;
        padding: 5px;
    }

.user-name {
    display: inline;
}

.pagination {
    clear: both;
}

.search-result {
    margin: 10px;
}

.search-form {
    height: 45px;
    margin-left: 300px;
}

.trajectory {
    margin-top: 10px;
    height: 150px;
    border-bottom: solid #cccccc 1px;
}

.traject-thumb {
    width: 140px;
    height: 140px;
}


.avatar-thumbnail {
    width: 90px;
    height: 90px;
}

.profile-thumbnail {
    max-height: 180px;
    max-width: 180px;
}

.list-thumb {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.editor-label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.editor-field {
    margin-top: 5px;
    margin-bottom: 20px;
}

    .editor-field .field-validation-error {
        color: red;
    }

.login-form {
    border-radius: 2%;
    border: solid 1px #cccccc;
    padding: 15px;
    background-color: #dbeaf9;
}

.register-form {
    border-radius: 2%;
    border: solid 1px #cccccc;
    padding: 15px;
    background-color: #dbeaf9;
    min-width: 350px;
}

.retrievePass-form {
    border-radius: 2%;
    border: solid 1px #cccccc;
    padding: 15px;
    background-color: #dbeaf9;
}

.change-password-form {
    margin-top: 30px;
    border-radius: 2%;
    border: solid 1px #cccccc;
    padding: 15px;
}

.traject-info {
    border: solid 1px #cccccc;
    margin: 5px;
    padding: 15px;
}

.traject-map {
    border: solid 1px #cccccc;
    margin: 5px;
    padding: 15px;
    width: 650px;
}

#map-canvas {
    float: left;
    height: 600px;
    left: 10px;
    border: solid 1px #cccccc;
    border-radius: 1%;
}

.filter-trajectory-form {
    margin-top: 20px;
    margin-bottom: 30px;
}

.trajectory-list-item {
    border-bottom: solid 1px #cccccc;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.trajectory-list-icon {
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
}

.trajectory-list-display {
    display: inline;
}

.trajectory-item-index {
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    color: #181818;
}

.trajectory-item-content {
    font-size: 14px;
    color: #303030;
}

.trajectory-description {
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    font-size: 14px;
    color: #303030;
}

.trajectory-list-button {
    padding-top: 15px;
}

.trajectory-thumail {
    height: auto;
    width: auto;
    border: solid #cccccc 1px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    border-radius: 2%;
}

    .trajectory-thumail img {
        border-radius: 2%;
    }


.labels {
    font-size: 15px;
    font-weight: bold;
    color: red;
    background-color: yellow;
    border-radius: 30%;
    margin-top: 5px;
    margin-left: -5px;
}

.image-thumb {
    padding: 10px;
    float: left;
}

#locationPanel {
}

#location-list {
    overflow: auto;
    height: 150px;
    display: block;
    border: solid 1px #cccccc;
}

#calendar-1 {
    display: block;
    margin-top: 10px;
}

#filter-form {
    margin-top: 10px;
}

#tb-filter {
}

    #tb-filter td {
        text-align: center;
        vertical-align: middle;
    }

        #tb-filter td span {
            /*font-weight: bold;*/
        }

#location-filter {
    float: right;
    margin-right: 5px;
}

#reset-filter {
    float: right;
}

.red-cell {
    background: #F00; /* Or some other color */
}


.social-share {
    margin-left: 5px;
}

.Highlighted {
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    color: #fff;
    background-color: #446E9B;
    text-shadow: 0 1px 0 rgba(0,0,0,.26);
    -moz-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
    -webkit-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
    box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
}



.dp-highlight .ui-state-default {
    background: #484;
    color: #FFF;
}

.ui-state-active {
    background: #40B826 !Important;
    color: white !Important;
}




/**
*	Really Simple™ Slideshow -- CSS
*/

.rs-slideshow {
    border: 12px solid #444;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -khtml-border-radius: 12px;
    height: 505px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

    .rs-slideshow .slide-container {
        background-color: #444;
        position: absolute;
        height: 100%;
        left: 0;
        overflow: hidden;
        top: 0;
        width: 100%;
    }

        .rs-slideshow .slide-container img {
            position: relative;
            display: block;
            max-width: 1000px;
            max-height: 536px;
            width: auto;
            height: auto;
            top: 0px !important;
            left: 0px !important;
            margin: auto;
        }

        .rs-slideshow .slide-container .slide-caption {
            background-color: #000;
            bottom: 0;
            color: #fff;
            display: block;
            left: 0;
            padding: 6px 12px;
            position: absolute;
            text-align: center;
            right: 0;
            filter: alpha(opacity=70); /* internet explorer */
            -khtml-opacity: 0.7; /* khtml, old safari */
            -moz-opacity: 0.7; /* mozilla, netscape */
            opacity: 0.7; /* fx, safari, opera */
        }

    .rs-slideshow .slides {
        display: none;
    }

    .rs-slideshow .slide-container img,
    .rs-slideshow .slide-container .slide-caption,
    .rs-slideshow .slide-container a {
        filter: inherit;
    }


/**
*	These styles make the list of links to slide images visible to users
*	who don't have JavaScript enabled. By adding the 'no-js' class to 
*	the HTML element, and using Modernizr to remove this class for JS
*	users, we can style for both scenarios.
*	http://www.modernizr.com/
*/

.no-js .rs-slideshow {
    height: auto;
}

    .no-js .rs-slideshow .slide-container,
    .no-js .rs-slideshow .slide-container img {
        position: relative;
    }

    .no-js .rs-slideshow .slides {
        display: block;
        margin: 24px 48px;
    }

        .no-js .rs-slideshow .slides li {
            margin: 0;
        }



/**
*	The following styles are used in the demos with slideshow controls, 
*	such as play/pause and prev/next buttons.
*/

.rs-controls {
    clear: both;
    margin: 12px auto;
    width: auto;
}

.rs-play-pause, .rs-prev, .rs-next {
    float: left;
    margin-right: 12px;
}

.rs-controls ul {
    float: left;
    list-style: none;
    margin: 0 6px 0 0;
    padding: 0;
}

.rs-index-list li {
    float: left;
    margin-right: 6px;
}

.rs-controls a {
    background-color: #eee;
    border: 1px solid #ddd;
    /*border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;*/
    color: #444;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
}

    .rs-controls a:hover {
        background-color: #ddd;
        color: #444;
    }

.rs-controls .rs-active {
    background-color: #444;
    border: 1px solid #444;
    color: #eee;
}


#callback-messages,
#slide-class-message {
    margin: 48px auto;
    width: 620px;
}

.slide-container.some-custom-class .slide-caption {
    background-color: #890;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    top: 0;
    width: 28%;
}

.rs-index-list li {
    float: left;
    margin-right: 6px;
    width: 25px;
    margin-bottom: 6px;
}

/*	Clearfix	*/
.clearfix:after {
    content: ".";
    display: inline;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/* Hides from IE-mac \*/
.clearfix {
    display: block;
}

.modal-footer {
    margin: 5px;
    padding: 5px;
}

.modal-body {
    margin: 5px;
    padding: 5px;
}

#login-box {
    width: 470px;
    height: 460px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(../Images/login-box-backg.png) no-repeat left top;
}

    #login-box img {
        border: none;
    }

    #login-box h2 {
        padding: 0;
        margin: 0;
        color: #ebebeb;
        font: bold 44px "Calibri", Arial;
    }


#login-box-name {
    float: left;
    display: inline;
    width: 80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin: 0 0 7px 0;
}

#login-box-field {
    float: left;
    display: inline;
    width: 230px;
    margin: 0;
    margin: 0 0 7px 0;
}

#login-body {
    background-image: url(../Images/Map.jpg);
}


.form-login {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}


.login-box-options {
    clear: both;
    padding-left: 87px;
    font-size: 11px;
}

    .login-box-options a {
        color: #ebebeb;
        font-size: 11px;
    }

.modal-header {
    margin: 5px;
    padding: 0px;
}

#simple-slide {
    margin: 0px;
    padding: 0px;
}

#slideshow-2 {
    margin: 0px;
    padding: 0px;
}

.rs-controls {
    /*max-height: 45px;*/
    overflow-y: auto;
    overflow-x: auto;
}

.modal-size {
    width: 75%;
    height: auto;
    margin-top: 5px;
}


.ui-datepicker {
    width: auto;
    height: auto;
    margin: 5px auto 0;
    font: 12pt;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background: #fafafa;
    border: 1px solid #555;
    color: #266d97;
}


/*Location*/
.tbl-header {
    vertical-align: central;
    font-weight: bold;
    font-size-adjust: 0.58;
    font-size: 18px;
}

.location-thumbnail {
    height: auto;
    width: auto;
    border: solid #cccccc 1px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    border-radius: 3%;
}

    .location-thumbnail img {
        border-radius: 3%;
    }


#panel {
    position: absolute;
    top: 60px;
    left: 500px;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 2px;
    border: 2px solid !Important;
}

/**Mutual friend*/
.mutual-friend {
    overflow: auto;
    height: 500px;
}

.modal-delete-alert {
    font-size: 18px;
    color: red;
}

.label-size {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
    width: 100px;
    text-align: left;
}

.edit-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.traject-detail {
    margin-top: 15px;
    text-align: justify;
}

/*Type Ahead*/
.typeahead {
    min-width: 300px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-dropdown-menu {
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #E9EAED;
}
/*End Type Ahead*/

/**Report*/
.sumary-report {
    margin-top: 25px;
    margin-left: 18px;
    width: 420px;
}

#total-location {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

#total-distance {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

#total-time {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.download-report {
    float: right;
    margin-top: 20px;
    font-size: 14px;
}

#Export {
    border: none;
    background: url("../Images/excel-report.png") no-repeat;
    width: 60px;
    height: 60px;
}

    #Export:hover {
        opacity: 0.7;
    }

.chart-report {
    margin-top: 20px;
}
