@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mobile Surveillance - Register User Account Success</title>
</head>
<body id="login-body">
    <div>
        <h2>Hi! @ViewBag.Fullname</h2>

        <h2>An activation request has been send to your email account</h2>
        <h2>Please check your email to Activate your account</h2>
    </div>
</body>
</html>
